# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Kubernetes
kubeconfig
*.kubeconfig

# Python
__pycache__/
*.pyc

# Node (future website)
node_modules/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
